body{
   background-color: #FAF4F4;
   background-image: url(../img/paper.svg);
   margin: 0;
   padding: 0;
}

main{
  display: grid;
  grid-template-columns: 1.5fr 8fr 1.5fr;
  padding: 0;
  margin: 0;

}

.main_section{
    grid-column: 2;
    text-align: center;
    margin-top: 10px;
    justify-items: center;
    align-content: center;
}

/* Global Menu */
header{
    background-color: transparent
}

#nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    margin-right: 25px;
    margin-bottom: 0;
    margin-top: 10px;
    z-index: 2;
}

#hamburger{
    top: 20px;
    left: 20px;
    position: fixed;
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    background-color: #5835B9;
}


/* Grids */
.grid1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 55px;
    margin-bottom: 60px;
    text-align: center;
    max-width: 919px;
}

.grid1-1 > :first-child{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 25px;
    padding-top: 50px;
    padding-bottom: 0;
    border-bottom: 3.4px solid #5835B9;
    border-left: 3.4px solid #5835B9;
    border-radius: 0 0 0 30px; 
}

.grid1-1 > :nth-child(2){
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    border-top: 3.4px solid #5835B9;
    border-right: 3.4px solid #5835B9;
    border-radius: 0 30px 0 20px; 
}

.grid1{
    display: grid;
    grid-template-columns: 1fr;
}

.subpages_grid1-1{
    display: grid ;
    grid-template-columns: 1fr 1fr;
     margin-top: 20px;
    gap: 3vw;
}

.grid1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vw;
    margin-top: 15px;
    justify-items: center;
}

.footer_grid1-1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}


/* media - responsivt design */

@media (max-width: 900px){
    main{
        display: grid;
        grid-template-columns: 2fr 10fr 2fr;
    
    }

    .grid1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        margin-top: 55px;
        margin-bottom: 82px;
        text-align: center;
    }
}

@media (max-width: 650px){
    #nav_menu{
        position: fixed;
        flex-direction: column;
        background-color: #FAF4F4;
        border: 2px solid #5835B9;
        text-align: center;
        width: 100%;
        padding: 0;
        margin:0;
        display:none;
    }

    #hamburger{
        display: block;
        cursor: pointer;
        z-index: 3;
    }

    .menu_item{
        margin: 15px 0;
    }

    #nav_menu.active{
        display:block;
    }

    h1{
        color: #5835B9;
        font-size: 5vw;
    }

    h2{
        font-size: 4.2vw;
    }

    h3{
        font-size: 3.5vw;
    }

    p{
        font-size: 2.5vw;
    }

    h4{
        font-size: 3vw;
    }

    .grid1-1 > :first-child{
        border-bottom: 2px solid #5835B9;
        border-left: 2px solid #5835B9;
        padding: 25px;
    }

    .grid1-1 > :nth-child(2){
        border-top: 2px solid #5835B9;
        border-right: 2px solid #5835B9;
    }

    .grid1-1-1{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1vw;
        gap: 50px;

    } 

    .asymmetrical_button{
        border: 0;
        width: 15vw;
        height: auto; 
        cursor: pointer;    
    }

    .subpages_grid1-1{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .grid1 h3{
        border-bottom: 1.5px solid #5835B9; 
    }

    .icon{
        width: 5.5vw;
    }
}