

#grid1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    justify-items: center;
    align-items: center;
    margin-bottom: 90px
}

#browser1{
    position: absolute;
    width: 20%;
    left: 2.4%;
    top: 4%;
}

#browser2{
    position: absolute;
    width: 20%;
    left: 27.1%;
    top: 4%;
}

#browser3{
    position: absolute;
    width: 20%;
    left: 52%;
    top: 5%;
}

#browser4{
    position: absolute;
    width: 20%;
    left: 77%;
    top: 4%;
}


.browser:hover{
     content: url(../img/browser_hover.svg);

}

@media (max-width: 650px){
    #grid1-1-1-1{
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
        padding-left: 35px;
        padding-right: 35px;
    }

    
#browser1{
    position: absolute;
    width: 20%;
    left: 19%;
    top: 11%;
}

#browser2{
    position: absolute;
    width: 20%;
    left: 19%;
    top: 66%;
}

#browser3{
    position: absolute;
    width: 20%;
    left: 60%;
    top: 11%;
}

#browser4{
    position: absolute;
    width: 20%;
    left: 60%;
    top: 66%;
}

.browser{
    scale: 1.6;
}
p{
    font-size: 3vw;
}

}







 