

#grid1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    justify-items: center;
    align-items: center;
    margin-bottom: 90px
}

#browser1{
    position: absolute;
    width: 20%;
    left: 2.4%;
    top: 3%;
}

#browser2{
    position: absolute;
    width: 20%;
    left: 27.1%;
    top: 3%;
}

#browser3{
    position: absolute;
    width: 20%;
    left: 52%;
    top: 3%;
}

#browser4{
    position: absolute;
    width: 20%;
    left: 77%;
    top: 3%;
}
#browser5{
    position: absolute;
    width: 20%;
    left: 80%;
    top: 3%;
}

.img_btn {
    background-image: url("../img/orange_button.svg");
    background-size: cover;
    width: 20%;
    height: 40%;
    text-align: center;
    margin-bottom: 60px;

}
.img_btn:hover {
    cursor:pointer;
    background-image: url("../img/hoover_button.svg");
    text-align: center;

}




 