#cv-grid1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid1 {
    display: grid;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
    border: 0.3vw solid #5835B9 ;
    border-radius: 20px 20px 20px 20px; 

}

.flexbox_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}

#picture_me{
    width: 25vw;
}

.undersider_grid2-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3vw;
    margin-top: 20px;
}

@media (max-width: 650px){
    .undersider_grid2-1{
        grid-template-columns: 1fr;
    }
    #picture_me{
    width: 40vw;
    justify-self: center;
}
    

    
}