#cv-grid1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#flex1-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 2%;
    border: 3px solid #408553 ;
    border-radius: 30px 30px 30px 30px; 
    margin-bottom: 80px;

}