.theme4_img{
    width: 30vw;
}

.theme4_figure{
    width: 12vw;
}

.theme4_grid1-1-1{
    width: 18vw
}

@media (max-width: 650px){
    .theme4_img{
        width: 70vw;
    }

    .theme4_figure{
        width: 30vw;
    }
    
    .theme4_grid1-1-1{
    width: 70vw
}
}


