#poster{
    grid-row: 1/3;
    height: 42vw ;
}

#theme5_moodboard{
    width: 70vw;

}

.grid1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 15px;
}

.undersider_grid2-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    margin-top: 20px;
}
.theme5_prototype{
    width: 20vw;
}

.theme5_img{
    width: 31.5vw;

}
.grid1-1_btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}