.moodboard{
    width: 21vw;
}

.styletiles{
    width: 21vw;
}

.theme3_frontpage{
    width: 21vw;

}


.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    gap: 2vw;
    margin-bottom: 20px;
    
}




