.moodboard{
    width: 21vw;
}

.styletiles{
    width: 21vw;
}

.theme3_frontpage{
    width: 21vw;

}


.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 2vw;
    margin-bottom: 20px;
    
}

.link_main{
    text-align: left;
    color:#5835B9;;

}

@media (max-width: 650px){
    .grid3{
        grid-template-columns: 1fr;
    }

    .moodboard{
    width: 65vw;
}

.styletiles{
    width: 65vw;
}

.theme3_frontpage{
    width: 65vw;

}
 .grid3 img {
    justify-self: center;
    }
}




