#poster{
    height: 42vw ;
    grid-row: 1/3;
}

#theme5_moodboard{
    width: 70vw;
}

.theme5_prototype{
    width: 20vw;
}

.theme5_img{
    width: 31.5vw;
}

.grid1-1_btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.theme4_grid1-1 a{
    justify-self: start;
    align-self: start;
}

.link_border{
    text-align: center;
    color:#5835B9;
    border: 2px solid #5835B9;
    width: 35vw;
    padding: 5px;
}

.link_border:hover{
    border: 2px solid #7AC6C6;
    color:#7AC6C6 ;
    width: 35vw;
    padding: 5px;
}

.video_container{
    position: relative;
}
.video_container iframe{
    width: 100%;
    height: 100%;

}

@media (max-width: 650px){
    .subpages_grid1-1 img{
        width: 80vw;
    }

    .link_border{
        width: 50vw;
    }

    .link_border:hover{
        width: 50vw;

    }

    #poster{
        height: 120vw;
    }

    #theme5_moodboard{
        width: 80vw;
    }

    .theme5_prototype{
        width: 55vw;
    }
}